{% extends "base.html" %}
{% block content %}
<main>
    <h2 class="search">지난 대화</h2>

    <div class="conv-tag">
        <h2>I would like to change my flight time that I have booked.</h2>
        <p>예약한 비행기 시간을 변경하고 싶습니다.</p>
    </div>
    <div class="conv-tag">
        <h2>Is it possible to reschedule my flight to a different time?</h2>
        <p>다른 시간으로 비행기를 변경할 수 있을까요?</p>
    </div>
    <div class="conv-tag">
        <h2>Can I modify the departure time of my flight reservation?
        </h2>
        <p>비행기 예약의 출발 시간을 변경할 수 있을까요?</p>
    </div>
    <div class="conv-tag">
        <h2>I need to adjust the time of my flight booking, is that possible?</h2>
        <p>비행기 예약 시간을 조정해야 하는데, 가능한가요?</p>
    </div>
    <div class="conv-tag">
        <h2>Can I help you with the menu?</h2>
        <p>메뉴 설명 도와드릴까요?</p>
    </div>
    <div class="conv-tag">
        <h2>If you have any dietary restrictions, please let me know so I can suggest suitable options.</h2>
        <p>음식이 제한이 있으시면 알려주세요. 적합한 옵션을 추천해 드릴게요.</p>
    </div>
    <div class="conv-tag">
        <h2>Sure, let me explain the menu options to you.
        </h2>
        <p>네, 메뉴 옵션을 설명해 드릴게요.</p>
    </div>
    <div class="conv-tag">
        <h2>Would you like me to recommend any dishes?
        </h2>
        <p>어떤 요리를 추천해 드릴까요?</p>
    </div>

    </section>
</main>



{% endblock %}