section {
  width: 80rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}
section h1 {
  font-size: 2.5rem;
  color: #91c8e4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  justify-content: center;
}
.conv-tag {
  background-color: rgb(238, 244, 250);
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.conv-tag h2 {
  font-size: 1.8rem;
}
.conv-tag p {
  font-size: 1.5rem;
}

.search {
  position: relative;
  width: 48rem;
}
form {
  text-align: center;
}
input {
  width: 95%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  box-sizing: content-box;
}

img {
  position: absolute;
  width: 20px;
  top: 18px;
  right: 15px;
  margin: 0;
}

#english-speech {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sound-up {
  margin-left: 0.3rem;
  cursor: pointer;
}
