body {
  height: 100%;
  background-color: #f6f4eb;
  font-family: "Tilt Neon";
}
header {
  width: 100%;

  padding: 0;
  /* position: absolute; */
  margin: 1rem auto;
  color: #91c8e4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#logo {
  font-size: 3rem;
}

header h1 {
  margin: 1.5rem;
  margin-left: 2rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  margin-right: 2rem;
  padding: 0;
  display: flex;
}

header li {
  margin: 1rem;
}

header a {
  color: #91c8e4;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
}

header ul a:hover {
  background-color: #4682a9;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
